body {
    background-color: rgb(249, 249, 249);
}

.tim-heading {
    position: fixed;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    left:490px;
    bottom:382px;
    color:#858FB4;
}

.home-page {
    position:fixed;
    left:480px;
    color:#858FB4;
    font-weight:bold;
    top:22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}