/* Leaderboard.css */

.list-group {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: large;
    list-style-type: none;
  }

.led {
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: x-large;

}

.container {
    position: absolute;
    border-radius: 12px;
    top: 20px;
    left: 1020px;
    background-color: #EBBAC2;
    padding: 10px;
    margin: 20px;
    max-width: 60px;
    min-width: 20px;
    width: 400px !important;
    box-sizing: border-box
}