
.profile-container {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 400px;
    height: 700px;
    padding: 10px;
    border-radius: 12px;
    background-color: #dfe8fb;
}

.user {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: x-large;
}

