
.profile-container {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 400px;
    height: 700px;
    padding: 10px;
    border-radius: 12px;
    background-color: #dfe8fb;
}

.user {
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: x-large;
}

.writingstyles {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.ranking {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: x-large;
    color:#ef9fad;
}

.chat {
    position: fixed;
    left:215px;
    margin:10px;
    font-size:large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#e9bfc6;
    border-radius: 7px;
    
}


.search {
    position: fixed;
    left:127px;
    margin: 55px;
    font-size:large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#e9bfc6;
    border-radius: 7px;
}

.search:hover {
    opacity:70%;
}

.chat:hover {
    opacity:70%;
}

.week-progress {
    position:fixed;
    font-size:20px;
    font-family:Georgia;
    margin: 10px;
    font-weight:bold;
    top:325px;
    left:150px;
}